@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #22272e;
  font-family: "Tajawal", sans-serif;
  color: #768390;
}

body::-webkit-scrollbar {
  display: none;
}

p {
  font-size: 14px;
  line-height: 18px;
  text-align: justify;
}

ul {
  list-style-type: none;
}

a {
  display: block;
  font-size: 12px;
  text-decoration: none;
  color: #adbac7;
}

a:hover {
  color: #cdd9e5;
  cursor: pointer;
}

span {
  font-size: 12px;
  color: #768390;
}

.container {
  max-width: 780px;
  width: 100%;
  margin: 0 auto;
  padding: 8px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container__header {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header {
  width: 100%;
}

.header .about {
  max-width: 550px;
  width: 100%;
}

.header .about .about__header .about__name {
  font-size: 42px;
  margin: 0;
  padding: 0;
  line-height: 30px;
  color: #cdd9e5;
}

.header .about .about__body .about__career-objective {
  font-size: 24px;
  margin: 10px 0;
  color: #adbac7;
}

.header .about .about__body .about__avatar {
  float: left;
  shape-outside: circle(50%);
  width: 182px;
  height: 182px;
  margin: 10px 16px 10px 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.header .social {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .social .social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .social .social__list .social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .social .social__list .social__item:hover .icon {
  color: #cdd9e5;
}

.header .social .social__list .social__item .icon {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.section--left {
  width: 366px;
}

.frame {
  margin-bottom: 16px;
}

.frame__content {
  border-radius: 0 4px 4px 4px;
  border: 1px solid #768390;
  overflow: hidden;
  position: relative;
  padding: 10px;
}

.education__list {
  margin-left: 30px;
}

.education__list .education__item {
  position: relative;
  margin-bottom: 20px;
}

.education__list .education__item .education__location {
  font-weight: 600;
}

.education__list .education__item .education__link {
  font-size: 14px;
  text-transform: uppercase;
}

.education__list .education__item .line {
  border: none;
  height: 65px;
  position: absolute;
  top: 42px;
  left: -20px;
}

.education__list .education__item .line--complited {
  border-left: 2px solid #cdd9e5;
}

.education__list .education__item .line--not-complited {
  border-left: 2px dashed #cdd9e5;
}

.education__list .education__item .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 22px;
  left: -29px;
}

.education__list .education__item .dot--complited {
  background-color: #cdd9e5;
}

.education__list .education__item .dot--not-complited {
  border: 1px solid #cdd9e5;
}

.title {
  color: #22272e;
  background: #768390;
  padding: 0px 10px;
  border-radius: 6px 6px 0 0;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
}

.work__list {
  margin-left: 30px;
}

.work__list .work__item {
  position: relative;
  margin-bottom: 20px;
}

.work__list .work__item .work__location {
  font-weight: 600;
}

.work__list .work__item .work__link {
  font-size: 14px;
  text-transform: uppercase;
}

.work__list .work__item .line {
  border: none;
  height: 65px;
  position: absolute;
  top: 42px;
  left: -20px;
}

.work__list .work__item .line--complited {
  border-left: 2px solid #cdd9e5;
}

.work__list .work__item .line--not-complited {
  border-left: 2px dashed #cdd9e5;
}

.work__list .work__item .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 22px;
  left: -29px;
}

.work__list .work__item .dot--complited {
  background-color: #cdd9e5;
}

.work__list .work__item .dot--not-complited {
  border: 1px solid #cdd9e5;
}

.section--right {
  width: 366px;
}

.skills {
  display: -ms-grid;
  display: grid;
  row-gap: 10px;
}

.skill {
  border: 1px solid #768390ac;
  padding: 5px;
  border-radius: 4px;
}

.skill:hover {
  background-color: #7683900e;
  cursor: pointer;
}

.skill .skill__name {
  color: #768390;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.skill__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill__inner .skill__logo {
  width: 25px;
  height: 25px;
}

.skill__inner .skill__bar--wrapper {
  width: 100%;
  height: 8px;
  background-color: #1c2025;
  border-radius: 4px;
  overflow: hidden;
}

.skill__inner .skill__bar--wrapper .skill__bar {
  width: 70%;
  height: 100%;
  background-color: #adbac7;
}

.skill__inner .skill__persent {
  text-align: right;
  width: 35px;
}

.modal {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: 10000;
}

.modal.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  overflow-y: hidden;
}

.modal__content {
  padding: 10px;
  border-radius: 4px;
  background-color: #22272e;
  height: 70vh;
  width: 850px;
  overflow-y: scroll;
}

.modal__content::-webkit-scrollbar {
  display: none;
}

pre {
  height: 100%;
  overflow-y: scroll;
}

pre::-webkit-scrollbar {
  display: none;
}

.code {
  height: 100%;
  overflow-y: scroll;
}

.code::-webkit-scrollbar {
  display: none;
}

.self-introduction {
  padding: 0;
  height: 400px;
}

.projects__wrapper {
  height: 100%;
  overflow-y: scroll;
}

.projects__wrapper::-webkit-scrollbar {
  display: none;
}

.projects__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-rows: 200px;
  gap: 10px;
}

.projects__list .project {
  height: 100%;
  background-size: cover;
  border-radius: 4px;
  border: 1px solid #768390ac;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1000000000;
}

.projects__list .project:hover {
  border-color: white;
}

.input-search {
  width: 50%;
  height: 30px;
  outline: none;
  border-radius: 15px;
  padding: 5px 15px;
  background-color: #1c2025;
  color: #768390;
  margin-bottom: 10px;
}

.project__link {
  display: block;
  height: 100%;
}

.project__name {
  font-size: 14px;
  padding: 0px 10px;
  background-color: rgba(0, 0, 0, 0.395);
  border-radius: 0px 0px 0px 0px;
  color: white;
}

.project__inner {
  height: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.project__inner .tags__list {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tag {
  display: block;
  padding: 0px 10px;
  border-radius: 10px;
  margin-left: 5px;
  color: white;
  font-size: 12px;
}

.project-preview {
  position: relative;
  height: 266px;
  cursor: pointer;
}

.project-preview:hover .project-preview__item--first {
  -webkit-transform: perspective(864px) rotateY(14deg) translate(-39%, -38%);
          transform: perspective(864px) rotateY(14deg) translate(-39%, -38%);
}

.project-preview:hover .project-preview__item--second {
  -webkit-transform: perspective(864px) rotateY(14deg) translate(-62%, -42%);
          transform: perspective(864px) rotateY(14deg) translate(-62%, -42%);
  opacity: 1;
}

.project-preview:hover .project-preview__item--third {
  -webkit-transform: perspective(864px) rotateY(14deg) translate(-78%, -45%);
          transform: perspective(864px) rotateY(14deg) translate(-78%, -45%);
  opacity: 1;
}

.project-preview .project-preview__item {
  width: 200px;
  height: 400px;
  background-size: cover;
  position: absolute;
}

.project-preview .project-preview__item--first {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1000;
  top: 67%;
  left: 67%;
  -webkit-transform: perspective(864px) rotateY(27deg) translate(-63%, -38%);
          transform: perspective(864px) rotateY(27deg) translate(-63%, -38%);
}

.project-preview .project-preview__item--second {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  z-index: 100;
  top: 77%;
  left: 57%;
  -webkit-transform: perspective(864px) rotateY(27deg) translate(-63%, -38%);
          transform: perspective(864px) rotateY(27deg) translate(-63%, -38%);
  opacity: 0.6;
}

.project-preview .project-preview__item--third {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  z-index: 10;
  top: 87%;
  left: 47%;
  -webkit-transform: perspective(864px) rotateY(27deg) translate(-63%, -38%);
          transform: perspective(864px) rotateY(27deg) translate(-63%, -38%);
  opacity: 0.4;
}

.slide {
  height: 440px;
  width: 300px;
}

.slide .slide__inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide .slide__item {
  width: 500px;
  height: 400px;
  background: center center no-repeat;
  background-size: contain;
}

.eng-lvl {
  text-align: center;
  font-size: 82.2px;
}

.container__footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rsschool-logo {
  width: 150px;
  height: 35px;
  background: center center no-repeat;
}

@media screen and (max-width: 760px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section {
    width: 100%;
  }
}
/*# sourceMappingURL=App.css.map */