@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #22272E;
  font-family: 'Tajawal', sans-serif;
  color: #768390;
}

p {
  font-size: 14px;
  line-height: 18px;
  text-align: justify;
}

ul {
  list-style-type: none;
}

a {
  display: block;
  font-size: 12px;
  text-decoration: none;
  color: #ADBAC7;
}

a:hover {
  color: #CDD9E5;
}

span {
  font-size: 12px;
  color: #768390;
}

.container {
  max-width: 780px;
  width: 100%;
  margin: 0 auto;
  padding: 8px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container__header {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header {
  width: 100%;
}

.header .about {
  max-width: 550px;
  width: 100%;
}

.header .about .about__header .about__name {
  font-size: 42px;
  margin: 0;
  padding: 0;
  line-height: 30px;
  color: #CDD9E5;
}

.header .about .about__body .about__career-objective {
  font-size: 24px;
  margin: 10px 0;
  color: #ADBAC7;
}

.header .about .about__body .about__avatar {
  float: left;
  shape-outside: circle(50%);
  width: 182px;
  height: 182px;
  margin: 10px 16px 10px 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.header .social {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .social .social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .social .social__list .social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .social .social__list .social__item:hover .icon {
  color: #CDD9E5;
}

.header .social .social__list .social__item .icon {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.section--left {
  width: 366px;
}

.frame__content {
  border-radius: 0 4px 4px 4px;
  border: 1px solid #768390;
  overflow: hidden;
  position: relative;
  padding: 10px;
}

.education__list {
  margin-left: 30px;
}

.education__list .education__item {
  position: relative;
  margin-bottom: 20px;
}

.education__list .education__item .education__location {
  font-weight: 600;
}

.education__list .education__item .education__link {
  font-size: 14px;
  text-transform: uppercase;
}

.education__list .education__item .line {
  border: none;
  height: 65px;
  position: absolute;
  top: 42px;
  left: -20px;
}

.education__list .education__item .line--complited {
  border-left: 2px solid #CDD9E5;
}

.education__list .education__item .line--not-complited {
  border-left: 2px dashed #CDD9E5;
}

.education__list .education__item .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 22px;
  left: -29px;
}

.education__list .education__item .dot--complited {
  background-color: #CDD9E5;
}

.education__list .education__item .dot--not-complited {
  border: 1px solid #CDD9E5;
}

.title {
  color: #22272E;
  background: #768390;
  padding: 0px 10px;
  border-radius: 6px 6px 0 0;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
}

.work__list {
  margin-left: 30px;
}

.work__list .work__item {
  position: relative;
  margin-bottom: 20px;
}

.work__list .work__item .work__location {
  font-weight: 600;
}

.work__list .work__item .work__link {
  font-size: 14px;
  text-transform: uppercase;
}

.work__list .work__item .line {
  border: none;
  height: 65px;
  position: absolute;
  top: 42px;
  left: -20px;
}

.work__list .work__item .line--complited {
  border-left: 2px solid #CDD9E5;
}

.work__list .work__item .line--not-complited {
  border-left: 2px dashed #CDD9E5;
}

.work__list .work__item .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 22px;
  left: -29px;
}

.work__list .work__item .dot--complited {
  background-color: #CDD9E5;
}

.work__list .work__item .dot--not-complited {
  border: 1px solid #CDD9E5;
}

.section--right {
  width: 366px;
}

.skills {
  display: -ms-grid;
  display: grid;
  row-gap: 10px;
}

.skill {
  border: 1px solid #768390ac;
  padding: 5px;
  border-radius: 4px;
}

.skill:hover {
  background-color: #7683900e;
  cursor: pointer;
}

.skill .skill__name {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.skill__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill__inner .skill__logo {
  width: 25px;
  height: 25px;
}

.skill__inner .skill__bar--wrapper {
  width: 100%;
  height: 8px;
  background-color: #1c2025;
  border-radius: 4px;
  overflow: hidden;
}

.skill__inner .skill__bar--wrapper .skill__bar {
  width: 70%;
  height: 100%;
  background-color: #ADBAC7;
}

.skill__inner .skill__persent {
  text-align: right;
  width: 35px;
}

.modal {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.modal.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  overflow-y: hidden;
}

.modal__content {
  padding: 10px;
  border-radius: 4px;
  background-color: #22272E;
  height: 70vh;
  width: 850px;
  overflow-y: scroll;
}

.modal__content::-webkit-scrollbar {
  display: none;
}

pre {
  height: 100%;
  overflow-y: scroll;
}

pre::-webkit-scrollbar {
  display: none;
}

.code {
  height: 100%;
  overflow-y: scroll;
}

.code::-webkit-scrollbar {
  display: none;
}
/*# sourceMappingURL=App.css.map */